{% extends "base.html" %}

{% block content %}

{% if error %}
    <h1 style="color:red;"> {{error}} </h1>
{% endif %}

<form action="{% url 'users:register' %}" method="POST">
        {% csrf_token %}
        <label for="fname">Username:</label><br>
        <input type="text" id="fname" name="username" placeholder="username" required><br>
        <label for="fname">Phone:</label><br>
        <input type="text" id="fname" name="phone" placeholder="phone" required><br>
        <label for="lname">Password1:</label><br>
        <input type="password" id="lname" name="password1" placeholder="password1" required><br><br>
        <label for="lname">RePassword:</label><br>
        <input type="password" id="lname" name="password2" placeholder="repassword" required><br><br>
                
        <input type="submit" value="Register">
        </form> 
{% endblock content %}


